@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background: url("./img/KuwaitCodesWallpaper.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Amiri', serif;


}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: space-around;

  
}
/* a {
  text-decoration: none;
  color: black;
}*/
.nav-elements a
{
  color: rgba(70, 68, 216, 0.932);
  text-decoration: none;
  padding: 5px 20px;
  font-size: 24px;
}
.nav-elements a:hover 
{
  background: #fff;
  color: rgba(15, 13, 114, 0.986);;
}
.card {
  /* المطلوب الثالث هنا */
  width: 350px;
  height: 500px;
  background-color: white;
  box-shadow: 8px 10px 10px 15px rgba(64, 120, 194, 0.89);
  border-radius: 60px;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 12px;
  border-radius: 60px;
}


.center {
  margin: auto;

}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.hobbies {
  /* المطلوب السادس هنا */
  display: flex;
  justify-content: space-around;
  transition: cubic-bezier(1, 0, 0, 1) 1s;

}
.hobbies img:hover
{
  
  transition-timing-function: linear;
  box-shadow: 10px 1px black;
   
}